<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Automation.NapierHealth.Listeners">
</listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Automation.NapierHealth.Department"/>
      <class name="Automation.NapierHealth.Landing"/>
      <class name="Automation.NapierHealth.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
